<div class="box centerBoth">
  <div class="commentBox">
    <h4 class="commentBox__heading">selected comment</h4>
    <blockquote class="commentBox__quote">
      Local inovation and initiative can help us better understanding how to protect our environment.
      <footer>
        Gary Fisher
      </footer>
    </blockquote>
  </div>
</div>
