{% extends 'base.html.twig' %}

{% block body %}
  <section class="headerMargin">

    {% gimmelist article from articles|start(0)|limit(10) %}
      {% if (loop.first) or (loop.index == 6)  %}
        <div class="col col--md2 ">
          {% include 'partials/articleBox.html.twig' with {'size' : '2'} %}
        </div>

      {% else %}
        <div class="col col--sm2 col--md4 "  >
          {% include 'partials/articleBox.html.twig' with {'size' : '4'} %}
        </div>
      {% endif %}
    {% endgimmelist %}

  </section>
{% endblock %}
