{% extends 'base.html.twig' %}

{% block body %}
<section class="headerMargin">

{% cache 'front' { time:0 } %}
{% gimmelist item from contentListItems|limit(11) with {contentListName: "Top news"} %}
	{% if loop.first %}
	<div class="col col--md2 ">
		{% include 'partials/articleBox.html.twig' with { 'article' : item.content, 'size' : '2' } %}
	</div>
	{% else %}
	<div class="col col--sm2 col--md4 "  >
		{% include 'partials/articleBox.html.twig' with { 'article' : item.content, 'size' : '4' } %}
	</div>
	{% endif %}

	{% if loop.index == 3 %}
	 	<div class="col col--md2">
	  	{% include 'partials/featuredBox.html.twig' %}
		</div>
	{%endif%}

	{% if loop.index == 7 %}
	<div class="col col--md2 ">
	 	{% include 'partials/commentBox.html.twig' with {'size' : '2'} %}
	</div>
	{%endif%}
{% endgimmelist %}
{% endcache %}

</section>
{% endblock %}
